.rankingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    width: 100%;
}

.list > li{
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
