.rankingDiv{
    display:flex; 
    flex-direction:row;
    justify-content: center;
    border: 1px solid red;
}

.rankingDiv > div{
    width: 50%;
}

.myRankingsDiv{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}

.worldRankingsDiv{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;

}